In [1]:
st = "Hello"
st

'Hello'

In [2]:
l = list(st)
l

['H', 'e', 'l', 'l', 'o']

In [3]:
st[0], st[-1]

('H', 'o')

In [4]:
for ch in st:
    print(ch)

H
e
l
l
o

In [5]:
st[1:3]

'el'

In [6]:
s1 = "hello"
s2 = 'hello'
s1 is s2

True

In [7]:
s1 = """ this is 
a multi
Line string
"""
print(s1)

 this is
a multi
Line string

In [8]:
s1

' this is \na multi\nLine string\n'

In [9]:
st

'Hello'

In [13]:
for i in range(0,len(st)):
    for j in range(i,len(st)):
        print(st[i:j+1])

H
He
Hel
Hell
Hello
e
el
ell
ello
l
ll
llo
l
lo
o

In [14]:
a = 'abc' + 'def'
a

'abcdef'

In [15]:
print(a)

abcdef

In [25]:
name = "Shubham"
age = 27
print("My name is: " + name + ". My age is: " + str(age))
print("My name is: %s. My age is: %d"%(name,age))
print("My name is: {}. My age is: {}" .format(name,age)) 
print(f"My name is: {name}. My age is: {age}")

My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27

In [26]:
print("My name is {1}. my age is {0}".format(name,age))

My name is 27. my age is Shubham

In [27]:
print("My name is {1}. my age is {}".format(name,age))

ValueError: cannot switch from manual field specification to automatic field numbering

In [28]:
print("My name is:{n}. My age is:{a}".format(n = name,a = age))

My name is:Shubham. My age is:27

In [29]:
s = "   The sky is Blue   "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

The sky is Blue
The sky is Blue
   The sky is Blue

In [30]:
s = "hello"
s.capitalize()

'Hello'

In [32]:
s.casefold()
# Python me s.casefold() ka matlab hota hai string s ko lowercase (chhoti letters)
# me convert karna, lekin ye lower() se bhi zyada powerful hota hai.
# yeh unicode character par bhi km krta hai

'hello'

In [34]:
s = "Helllolll"
print(s.count('ll'))
# as a substring

2

In [35]:
s = "Hellllo"
s.count('ll')

2

In [36]:
s[0] = 'A'

TypeError: 'str' object does not support item assignment

In [37]:
s.find('ll0l')

-1

In [39]:
s.index('ll')

2

In [41]:
s = "The sky is Blue"

In [42]:
l = s.split()
l

['The', 'sky', 'is', 'Blue']

In [43]:
l[::-1]

['Blue', 'is', 'sky', 'The']

In [44]:
l = [str(i) for i in range(10)]

In [45]:
l

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [48]:
print('hello\n'.join(l))
# '9' ke baad 'hello' nahi laga, kyonki wo last element hai, 
# aur join() kabhi last ke baad kuch add nahi karta.

0hello
1hello
2hello
3hello
4hello
5hello
6hello
7hello
8hello
9

In [49]:
s

'The sky is Blue'

In [50]:
' '.join(s.split()[::-1])

'Blue is sky The'